@charset "UTF-8";
footer {
  /* footer */
  display: grid;
  grid-template-areas: "indice redes derechos"  "indice redes derechos" "indice redes";
  background-color: #ecece1; }
  footer .footer_redes {
    grid-area: redes; }
  footer .footer__indice {
    grid-area: indice; }
  footer .footer__derechos {
    grid-area: derechos; }
  footer .footer__indice ul li {
    font-size: 8px;
    text-decoration: none; }

.color-twitter {
  background-color: yellow; }

.color-facebook {
  background-color: black; }

.color-instagrm {
  background-color: grey; }

/* extend */
.background-centrado, .miel :hover, .propoleo :hover, .bee_wraps :hover, .cera :hover, .apicultura :hover, .caramelos_miel :hover, .cursos :hover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.productos {
  width: 35px; }
  .productos__texto {
    /* texto galeria */
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    color: white; }
  .productos__grid {
    /* grilla de productos */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "miel propoleo bee_wraps" "cera propoleo apicultura" "caramelos_miel caramelos_miel cursos"; }
    .productos__grid .miel {
      grid-area: miel;
      background-image: url("../resourses/miel.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .productos__grid .propoleo {
      grid-area: propoleo;
      background-image: url("../resourses/propoleo.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .productos__grid .bee_wraps {
      grid-area: bee_wraps;
      background-image: url("../resourses/bee_wraps.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .productos__grid .cera {
      grid-area: cera;
      background-image: url("../resourses/cera.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .productos__grid .apicultura {
      grid-area: apicultura;
      background-image: url("../resourses/apicultura.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .productos__grid .caramelos_miel {
      grid-area: caramelos_miel;
      background-image: url("../resourses/caramelos_miel.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .productos__grid .cursos {
      grid-area: cursos;
      background-image: url("../resourses/cursos.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .productos__grid .productos__texto {
      /* texto galeria */
      display: flex;
      font-size: 32px;
      justify-content: center;
      align-items: center;
      color: white; }

* {
  margin: 0px padding 0px;
  /* maren interno */ }

ul {
  list-style: none;
  color: black; }

a :hover {
  text-decoration: none;
  color: black; }

.parrafo__polen {
  color: black; }

.carrousel__altura {
  height: 500px;
  width: auto; }

.panal__altura {
  /* imagen panal */
  height: 500px;
  height: auto; }

.card-text {
  text-size-adjust: 2rem;
  font-family: 'Roboto Slab', serif; }

.footer__iconos {
  /* redes sociales */
  width: 35px;
  /* ancho icono redes */
  height: 35px; }

header {
  height: 50px; }
  header .header__lista {
    display: flex;
    list-style: none;
    /* borramos las viñetas */
    padding: 20px;
    flex-wrap: flex-end;
    justify-content: flex-end;
    flex-grow: 1; }
  header .header__item {
    display: inline;
    padding: 10px; }

.card-body {
  background-color: #f5f4ce; }

.titulo__principal {
  display: flex;
  color: #0c0d0e;
  justify-content: center; }

.portada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto; }

.titulo__producto {
  display: flex;
  align-items: center; }

.imagen__portada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto; }

body {
  font-family: 'Roboto Slab', serif;
  background-color: #f5f5ec; }

.parrafo {
  background-color: #f8e463;
  font-family: 'Roboto Slab', serif;
  padding: 0 10px;
  text-align: center; }

.parrafo__sobrenosotros {
  font-family: 'Roboto Slab', serif;
  color: black; }

.proteger {
  background-color: #f5f5ec;
  font-family: 'Roboto Slab', serif;
  color: black; }

.h1 {
  font-family: 'Roboto Slab', serif; }

.portada__somosnosotros {
  display: flex;
  width: 70vw;
  height: 70vh; }

.portada__contacto {
  display: flex;
  width: 70vw;
  height: 70vh; }

.miel :hover {
  grid-area: miel;
  background-image: url("../resourses/miel.jpg"); }

.propoleo :hover {
  grid-area: propoleo;
  background-image: url("../resourses/propoleo.jpg"); }

.bee_wraps :hover {
  grid-area: bee_wraps;
  background-image: url("../resourses/bee_wraps.jpg"); }

.cera :hover {
  grid-area: cera;
  background-image: url("../resourses/cera.jpg"); }

.apicultura :hover {
  grid-area: apicultura;
  background-image: url("../resourses/apicultura.jpg"); }

.caramelos_miel :hover {
  grid-area: caramelos_miel;
  background-image: url("../resourses/caramelos_miel.jpg"); }

.cursos :hover {
  grid-area: cursos;
  background-image: url("../resourses/cursos.jpg"); }

/* media querie celular productos */
@media (min-width: 320px) and (max-width: 575px) {
  .header__lista {
    flex-direction: column;
    flex-grow: 0;
    align-items: center; }
  header {
    height: auto; }
  .titulo__producto {
    display: flex;
    align-items: center; }
  .productos__grid {
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "miel" "bee_wraps" "cera" "propoleo" "apicultura" "caramelos_miel" "cursos"; }
  .miel {
    grid-column: 1/2;
    grid-row: 1/2; }
  .propoleo {
    grid-column: 1/2;
    grid-row: 2/3; }
  .bee_wraps {
    grid-column: 1/2;
    grid-row: 3/4; }
  .cera {
    grid-column: 1/2;
    grid-row: 4/5; }
  .apicultura {
    grid-column: 1/2;
    grid-row: 5/6; }
  .caramelos_miel {
    grid-column: 1/2;
    grid-row: 6/6; }
  .cursos {
    grid-column: 1/2;
    grid-row: 6/7; }
  footer {
    /* footer */
    grid-template-areas: "indice"  "redes" "derechos" "position-relative"; } }
