*{
    margin: 0px /* margen externo */
    padding 0px; /* maren interno */
}
.footer__iconos {/* redes sociales */
    width: 35px; /* ancho icono redes */
    height: 35px;
}
footer {
    display: grid;
    grid-template-areas: "indice redes"
                        "indice redes derechos";
    background-color: antiquewhite;
}
.footer_redes{
    grid-area: redes;
}
.footer__indice{
    grid-area: indice;
}
.footer__derechos{
    grid-area: derechos;
}
.footer__indice ul li{
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}
.header__lista {
    display: flex;
    list-style: none; /* borramos las viñetas */
    padding: 0 16px;
    flex-wrap: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
}
header{
    background-color: darkgray;
    height: 50px;
}
.titulo__principal{
    background-color: black;
    color: aliceblue;
}
.portada{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw
}
.imagen__portada {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 223, 121);
}
.parrafo{
    background-color: rgb(248, 228, 99);
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
}
.proteger{
    background-color: rgb(128, 128, 123);
    font-family: 'Roboto', sans-serif;
    color: black;
}
.h1 {
    font-family: 'Josefin Sans', sans-serif;
}
.productos{
    width: 35px;
}
.productos__grid { /* grilla de productos */
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "miel propoleo bee_wraps"
                        "cera propoleo apicultura"
                        "caramelos_miel caramelos_miel cursos";
}
.miel{
    grid-area: miel;
    background-image: url("../resourses/miel.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.propoleo {
    grid-area: propoleo;
    background-image: url("../resourses/propoleo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bee_wraps {
    grid-area: bee_wraps;
    background-image: url("../resourses/bee_wraps.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cera {
    grid-area: cera;
    background-image: url("../resourses/cera.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.apicultura {
    grid-area: apicultura;
    background-image: url("../resourses/apicultura.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.caramelos_miel {
    grid-area: caramelos_miel;
    background-image: url("../resourses/caramelos_miel.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cursos {
    grid-area: cursos;
    background-image: url("../resourses/cursos.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.productos__texto{ /* texto galeria */
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    color: white
}