/* media querie celular */
@media (min-width: 320px) and (max-width: 575px){
    .header__lista{
        flex-direction: column;
        flex-grow: 0;
        align-items: center;
    }
    header{
        height: auto;
    }
    .titulo__producto{
        display: flex;
        align-items: center;
    }
    .productos__grid { 
        width: 100vw;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "miel propoleo bee_wraps"
                            "cera propoleo apicultura"
                            "caramelos_miel caramelos_miel cursos";
    }                        
                            .miel{
                                grid-column:1/2 ;
                                grid-row:1/2 ;
                            }
                            .propoleo {
                                grid-column:1/2 ;
                                grid-row:2/3 ;
                            }
                            .bee_wraps {
                                grid-column:1/2 ;
                                grid-row:3/4 ;
                            }
                            .cera {
                                grid-column:1/2 ;
                                grid-row:4/5 ;
                            }
                            .apicultura {
                                grid-column:1/2 ;
                                grid-row:5/6 ;
                            }
                            .caramelos_miel {
                                grid-column:1/2 ;
                                grid-row:6/6 ;
                            }
                            .cursos {
                                grid-column:1/2 ;
                                grid-row:6/7 ;
                            }
                            footer {/* footer */
                                grid-template-areas: "indice" 
                                "redes"
                                "derechos";
    }
}