@import "variables";
@import "footer";
@import "operators";
@import "productos";
*{
    margin: 0px /* margen externo */
    padding 0px; /* maren interno */
}
ul{
    list-style: none;
    color: black;
}
a :hover{
    text-decoration: none;
    color: black
}   
.parrafo__polen{
    color:black
}
.carrousel__altura{
    height: 700px;
}
.panal__altura{
    height: 650px;
}
.card-text{
text-size-adjust: 2rem;
font-family:'Roboto Slab', serif;  
}
.footer__iconos{/* redes sociales */
    width: 35px; /* ancho icono redes */
    height: 35px;
}
header{
    height: 50px;
    .header{
    &__lista {
        display: flex;
        list-style: none; /* borramos las viñetas */
        padding: 20px;
        flex-wrap: flex-end;
        justify-content: flex-end;
        flex-grow: 1;
    }
    &__item{
        display: inline;
        padding: 10px;
    }
}
}
.card-body {
    background-color: rgb(245, 244, 206);
}
.titulo__principal{
    display: flex;
    color: rgb(12, 13, 14);
    justify-content: center;
}
.portada{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
}
.titulo__producto{
    display: flex;
    align-items: center;
}
.imagen__portada {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
}
body {
    font-family: 'Roboto Slab', serif;
    background-color: $color-principal
}
.parrafo{
    background-color: rgb(248, 228, 99);
    font-family: 'Roboto Slab', serif;
    padding: 0 10px;
    text-align: center;
}
.parrafo__sobrenosotros {
    font-family: 'Roboto Slab', serif;
    color: black;
}
.proteger{
    background-color: $color-principal;
    font-family: 'Roboto Slab', serif;
    color: black;
}
.h1 {
    font-family: 'Roboto Slab', serif;
}
.portada__somosnosotros{
    display: flex;
    width: 70vw;
    height: 70vh;
}
.portada__contacto{
        display: flex;
        width: 70vw;
        height: 70vh;
}
.miel :hover{
    @extend .background-centrado;
    grid-area: miel;
    background-image: url("../resourses/miel.jpg");
}
.propoleo :hover{
    @extend .background-centrado;
    grid-area: propoleo;
    background-image: url("../resourses/propoleo.jpg");
}
.bee_wraps :hover{
    @extend .background-centrado;
    grid-area: bee_wraps;
    background-image: url("../resourses/bee_wraps.jpg");
}
.cera :hover{
    @extend .background-centrado;
    grid-area: cera;
    background-image: url("../resourses/cera.jpg");
}
.apicultura :hover{
    @extend .background-centrado;
    grid-area: apicultura;
    background-image: url("../resourses/apicultura.jpg");
}
.caramelos_miel :hover{
    @extend .background-centrado;
    grid-area: caramelos_miel;
    background-image: url("../resourses/caramelos_miel.jpg");
}
.cursos :hover{
    @extend .background-centrado;
    grid-area: cursos;
    background-image: url("../resourses/cursos.jpg");
}

/* media querie celular productos */
@media (min-width: 320px) and (max-width: 575px){
    .header__lista{
            flex-direction: column;
            flex-grow: 0;
            align-items: center;
        }
    header{
            height: auto;
        }
        .titulo__producto{
            display: flex;
            align-items: center;
        }
    .productos__grid { 
            width: 100vw;
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "miel"
                                "bee_wraps"
                                "cera"
                                "propoleo"
                                "apicultura"
                                "caramelos_miel"
                                "cursos";
        }                        
    .miel{
        grid-column:1/2 ;
        grid-row:1/2 ;
    }
    .propoleo {
        grid-column:1/2 ;
        grid-row:2/3 ;
    }
    .bee_wraps {
        grid-column:1/2 ;
        grid-row:3/4 ;
    }
    .cera {
        grid-column:1/2 ;
        grid-row:4/5 ;
        }
    .apicultura {
        grid-column:1/2 ;
        grid-row:5/6 ;
    }
    .caramelos_miel {
        grid-column:1/2 ;
        grid-row:6/6 ;
    }
    .cursos {
        grid-column:1/2 ;
        grid-row:6/7 ;
    }
    footer {/* footer */
            grid-template-areas: "indice" 
                                "redes"
                                "derechos"
                                "position-relative";
        }
    }